* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

#toolbar {
  background: #0f0f0f;
  font-size: 9px;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 46px;
  height: 360px;
  overflow: hidden;
  opacity: 0.7;
}

#toollist a {
  color: #fff;
}

#toollist li {
  list-style-type: none;
  text-align: center;
  margin-left: -35px;
  margin-top: -5px;
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

#toollist li:hover {
  opacity: 1;
}

#toollist {
  display: flex;
  flex-direction: column;
}
