* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

#toolbar {
  display: flex;
  flex-direction: column;
  background: #0f0f0f;
  font-size: 9px;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  align-items: center;
  padding: 20px 10px;
  top: 30px;
  left: 30px;
  overflow: hidden;
  opacity: 0.7;
}

#toolbar a {
  color: #fff;
  margin: 5px 0;
  opacity: 0.7;
}

#toolbar a:hover {
  opacity: 1;
}
